# Pandas Basic

In [1]:
from IPython.display import Image 

from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [4]:
obj = Series([4, 7, -5, 3]) ; obj

0    4
1    7
2   -5
3    3
dtype: int64

In [25]:
obj.index # range(start = ? : stop = ? : step = ?) # 형식으로 나옴

RangeIndex(start=0, stop=4, step=1)

In [5]:
obj.values # 밸류값만 나옴

array([ 4,  7, -5,  3], dtype=int64)

In [6]:
obj.keys # key랑 values 값 다 보여주는듯

<bound method Series.keys of 0    4
1    7
2   -5
3    3
dtype: int64>

In [7]:
obj2 = Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c']); obj2 # index 변경

d    4
b    7
a   -5
c    3
dtype: int64

In [8]:
obj2.index # 위에 넣은 대로 나옴

Index(['d', 'b', 'a', 'c'], dtype='object')

In [11]:
obj2['a'] # obj2 중 key값이 a인 거 확인

-5

In [12]:
obj2['d'] = 6 # 값 변경
obj2[['c', 'a', 'd']]

c    3
a   -5
d    6
dtype: int64

In [14]:
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [15]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [16]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
# 파이썬 사전 타입을 series로 변경
obj3 = Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [18]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata, index = states) # Series(넣을 데이터 값, 인덱스 값)
obj4
# Utah는 index값에 이름이 없으니까 삭제되고, index에 있는 California는 값이 없어서 NaN

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [19]:
pd.isnull(obj4) # 누락된 값 유무 확인

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [20]:
pd.notnull(obj4) # isnull과 반대

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [21]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [22]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [23]:
obj3 + obj4 # 연산에 NaN이 들어가면 그 값은 자동으로 NaN으로 변함

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [24]:
obj4.name = 'population' # obj4 시리즈 이름 설정
obj4.index.name = 'state' # obj4의 인덱스 이름 설정
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64